<div id="sidebar-overlay" class="fixed inset-0 bg-black/50 z-40 lg:hidden hidden"
    onclick="document.getElementById('sidebar').classList.add('-translate-x-full')"></div>
<aside id="sidebar" class=" fixed top-0 left-0 h-screen w-72 border-r border-slate-200 dark:border-slate-800 bg-white dark:bg-slate-900 flex flex-col transform -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50
">
    <div class="p-6 border-b border-slate-200 dark:border-slate-800 flex items-center gap-3">
        <div class="size-9 bg-primary rounded-lg flex items-center justify-center text-white">
            <span class="material-symbols-outlined text-2xl">health_and_safety</span>
        </div>
        <div>
            <h2 class="text-lg font-bold tracking-tight text-primary leading-tight">MAIS Chile</h2>
            <p class="text-[10px] text-slate-500 uppercase tracking-widest font-bold">Gestión Comunitaria</p>
        </div>
    </div>
    <div class="flex-1 overflow-y-auto py-6 flex flex-col gap-6 min-h-0">
        <!-- CTA BUTTON -->
        <div class="px-4 mb-3">

            <a href="{% url 'create_recipe' %}"
                class="flex items-center justify-center gap-2 bg-primary text-white py-2.5 rounded-lg hover:bg-primary/90 transition">
                <span class="material-symbols-outlined text-sm">add</span>
                Nueva Receta Social
            </a>

        </div>

        {% with current=request.resolver_match.url_name %}

        <!-- ===================== -->
        <!-- MENU ADMINISTRADOR -->
        <!-- ===================== -->
        <div class="px-4">
            <p class="px-4 text-[11px] font-bold text-slate-400 uppercase tracking-widest mb-2">
                Menu Administrador
            </p>

            <nav class="space-y-1">

                <a href="" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'dashboard' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">dashboard</span>
                    <p class="text-sm font-medium">Dashboard</p>
                </a>

                <a href="{% url 'add_assets' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'add_assets' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">add_location_alt</span>
                    <p class="text-sm font-medium">Agregar Activo</p>
                </a>

                <a href="{% url 'display_assets' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'display_assets' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">map</span>
                    <p class="text-sm font-medium">Mapa Interactivo</p>
                </a>

                <a href="{% url 'validate_assets' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'validate_assets' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">approval</span>
                    <p class="text-sm font-medium">Validar Activo Comunitario</p>
                </a>

                <a href="{% url 'manage_users' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'manage_users' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <p class="text-sm font-medium">Administrar Usuarios</p>
                </a>
            </nav>
        </div>

        <!-- ===================== -->
        <!-- MENU REPORTES -->
        <!-- ===================== -->
        <div class="px-4">
            <p class="px-4 text-[11px] font-bold text-slate-400 uppercase tracking-widest mb-2">
                Menu de Reportes
            </p>

            <nav class="space-y-1">

                <a href="" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'reports' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">analytics</span>
                    <p class="text-sm font-medium">Reportes</p>
                </a>

            </nav>
        </div>

        <!-- ===================== -->
        <!-- OPCIONES CUENTA -->
        <!-- ===================== -->
        <div class="px-4">
            <p class="px-4 text-[11px] font-bold text-slate-400 uppercase tracking-widest mb-2">
                Opciones de tu Cuenta
            </p>

            <nav class="space-y-1">

                <a href="{% url 'profile' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'profile' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">person</span>
                    <p class="text-sm font-medium">Informacion Personal</p>
                </a>

                <a href="{% url 'create_user' %}" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'create_user' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">person_add</span>
                    <p class="text-sm font-medium">Crear Usuario</p>
                </a>

                <a href="" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'contributions' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">history</span>
                    <p class="text-sm font-medium">My Contributions</p>
                </a>

                <a href="" class="flex items-center gap-3 px-4 py-2.5 rounded-lg transition-colors
               {% if current == 'notifications' %} active-nav-item
               {% else %} hover:bg-slate-100 dark:hover:bg-slate-800 text-[#4c739a] dark:text-slate-400 {% endif %}">
                    <span class="material-symbols-outlined">notifications</span>
                    <p class="text-sm font-medium">Notifications</p>
                </a>

            </nav>
        </div>

        {% endwith %}

    </div>


    <div class="p-4 border-t border-slate-200 dark:border-slate-800 bg-slate-50/50 dark:bg-slate-900/50">
        <div
            class="flex items-center gap-3 px-4 py-2.5 rounded-lg hover:bg-red-50 dark:hover:bg-red-900/20 text-red-500 cursor-pointer transition-colors mb-4">
            <span class="material-symbols-outlined">logout</span>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="text-sm font-medium">Logout</button>
            </form>
        </div>
        <div
            class="flex items-center gap-3 px-3 py-3 bg-white dark:bg-slate-800 rounded-xl border border-slate-200 dark:border-slate-700">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBUjVmbBJUItNjFAspkBOMuyb5tfeQyrttDDCk94wG5CzrVlB4cBHxvKisIIcU8OWDwwSDBgt_8L8Kdji955xi-vxP-r4Qfr40JmTyIV16UYOkdsEFqnuiph4nZFM8VhFcfkPjkH83sK-4NGs1X6Ch1Dz3ajCBmI7wdiT4CLvN643Sk-w_3xXZk3if7jQjzbAlHhwehnemlJZJdqZvSKQhlwM6o0eYvDEeBiT1mBBqzw2fxGqS-XvDzp9GaFvdjdIW36XlhoPIhjzg");'>
            </div>
            <div class="flex flex-col min-w-0">
                <h1 class="text-[#0d141b] dark:text-white text-sm font-semibold truncate">Juan Pérez</h1>
                <p class="text-[#4c739a] dark:text-slate-400 text-xs truncate">Community Leader</p>
            </div>
        </div>
    </div>
</aside>