# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# --- Seguridad y Configuración ---
.env
.venv
secrets.json

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Node/Frontend (Si llegas a usar Tailwind o NPM) ---
node_modules/
npm-debug.log*